<%= render partial: "shared/header", locals: {title: "Profile"} %>
<div class="flex flex-col grow p-4 md:p-10">
  <%= form_with scope: :user, url: "/users/#{current_user.id}", method: 'put' do |f| %>
    
        <div class="field">
          <%= f.label :email , class: "font-semibold text-lg md:text-2xl"%><br />
          <%= f.email_field :email, value: current_user.email, class: "bg-slate-50 border-0 w-full p-0 md:text-xl"%>
        </div>

        <div class="field">
          <%= f.label :first_name , class: "font-semibold text-lg md:text-2xl"%><br />
          <%= f.text_field :first_name, value: current_user.first_name, class: "bg-slate-50 border-0 w-full p-0 md:text-xl" %>
        </div>

        <div class="field">
          <%= f.label :last_name , class: "font-semibold text-lg md:text-2xl"%><br />
          <%= f.text_field :last_name, value: current_user.last_name, class: "bg-slate-50 border-0 w-full p-0 md:text-xl" %>
        </div>
      <div class="text-center">
        <%= f.submit "Save Changes", class: "bg-sky-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full w-8/12 m-auto mt-2 md:text-xl" %>
      </div>
      <%= link_to "Discard Changes", user_path(user_id: current_user.id), class: "bg-sky-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full w-8/12 m-auto block text-center mt-2 md:text-xl" %>
  <% end %>
</div>
<%= render partial: "shared/footer", locals: {tab: "settings"} %>