<%= render partial: "shared/header", locals: {title: "Category Details"} %>
<div class="flex flex-col grow p-4 md:p-10">
  <%= form_with scope: :category, method: 'put', url: "/categories/#{@category.id}" do |f| %>
    
        <div class="field">
          <%= f.label "Title" , class: "font-semibold text-lg md:text-2xl"%><br />
          <%= f.text_field :name, value: @category.name, class: "bg-slate-50 border-0 w-full p-0 md:text-xl" %>
        </div>

        <div class="field">
          <%= f.label :description , class: "font-semibold text-lg md:text-2xl"%><br />
          <%= f.text_area :description, value: @category.description, class: "bg-slate-50 border-0 w-full p-0 md:text-xl" %>
        </div>

      <div class="text-center">
        <%= f.submit "Save Changes", class: "bg-sky-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full w-8/12 m-auto mt-2 md:text-xl" %>
      </div>

      <%= link_to "Discard Changes", category_tasks_path(category_id: @category.id), class: "bg-sky-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full w-8/12 m-auto block text-center mt-2 md:text-xl" %>
  <% end %>
</div>
<%= render partial: "shared/footer", locals: {tab: "tasks"} %>